.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 76px;
  margin-top: 70px;

}

.banner p {
  font-size: 36px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.profile-photo img {
    border-radius: 50%;
    height: 284px;
    border: brown
}

.container {
    display: flex;
    justify-content: space-around;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
