.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 76px;
  margin-top: 70px;

}

.banner p {
  font-size: 36px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.profile-photo img {
    border-radius: 50%;
    height: 284px;
    border: brown
}

.container {
    display: flex;
    justify-content: space-around;
}



.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.card-2 {
  margin-top: 50px;
  margin-bottom: 50px;

}

.card-3 {
  margin-top: 50px;
  margin-bottom: 50px;

}

.footer {
  background: #4a3f35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
